


@import {{site.theme}};


  ul {
    list-style-type: none;
    font-weight: 800;
    font-size: larger;
    padding-left: 22px ;
    text-indent: -22px ;
  }

  body {
  opacity: 1.0 ;
  color: #000;
  font-weight:800;
  font-size:large;
  }

header {
  display: none !important;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
