


@import {{site.theme}};


  ul {
    list-style-type: none;
  }

  body {
  opacity: 1.0 ;
  color: #000;
  font-weight:700;
  font-size:larger;
  }

header {
  display: none !important;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}
